body{
    background-color: #26262D;
}

p
{
    color:#e9f4f5;
}
a
{
    color:#e9f4f5;
}
h1
{
    color:#e9f4f5;
}
h2
{
    color:#e9f4f5;
}
h3
{
    color:#e9f4f5;
}
li
{
    color:#e9f4f5;
}
.container {
    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -8px;
    max-width: 95%;
    background-color:#26262D;
    animation: 1.5s fadeInUp;
    font-family: sans-serif;
}
.heading {
    color: #F5FFFA;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;

}
.nav-link-item {
    margin-right: 1rem;
    padding: 0.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border: 2px solid #71EDB7;
    display: inline-block;
}
.nav-link-text {
    color: #F5FFFA;
    font-weight: bold;
    text-decoration: none;
}
.site-title {
    font-size: 3rem;
    color: #F5FFFA;
    font-weight: 700;
    margin: 3rem 0;
    text-align: center;
}